@media only screen and (max-width: 690px) {
body{
    overflow-x: hidden;
}
::placeholder {
    font-family: dosis;
    color: #E1D7B1;
    opacity: 1;
    font-size: 1vw;
}
p {
    font-size: 12px;
    text-align: center;
}
h2{
    font-size: 130%;
}
.top_para{
    font-size: 11px;
}
.search {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    height: 35%;
    z-index: 102;
    align-items: center;
}
.search input {
    padding: 0px 10%;
    top: 5px;
    height: 33%;
    border-radius: 0px;
    }

.show{
    display: flex;
}
.crossmark {
    color: aliceblue;
    top: 0;
    position: absolute;
    text-align: right;
    right: 3%;
    font-size: 120%;
}
.top-search {
    display: block;
    position: absolute;
    top: 12%;
    RIGHT: 30%;
}
.top-search img{
width: 54%;
}
.logo{
    width: 28%;
}
.logo img{
    width: 106%;
}
.login {
    width: 20%;
}
.login a{
    font-size: 8px;
}
.login span {
    font-size: 11px;
}
.login img {
    height: 11px;
}
.nav_bottom {
    background-color:transparent;
    position: absolute;
    top: 10%;
    left: 6%;
    z-index: 100;
}
.navbar-nav {
    flex-direction: column;
}
.navbar-nav li{
    padding: 7% 2%;
}
.toggler{
    display: block;
}
.toggler-dis{
    display: none;
}
.mobile-menu{
    display: none;
    position: relative;
    text-align: left;
}
.mobile-menu {
    left: 0;
    width: 75%;
}
.nav_bottom .mobile-menu .navbar-nav li a {
    font-size: 16px;
}
.outer-layout {
    width: 100%;
    height: 105vh;
    display: none;
    position: fixed;
}
.active-menu{
    display: block;
    position: fixed;
    background-color: #fbf7ea;
    top: -12px;
}
.outer-layout {
    background: #0000004d;
}
.slider .owl-nav .sm-prev img,
.slider .owl-nav .sm-next img{
    width: 50%;
}
.owl-nav .sm-prev {
    left: 17px !important;
}
.item {
    width: 100%;
}
.owl-nav .sm-next {
    right: 17px !important;
}

button .am-prev {
    left: 17px !important;
}
button.am-next {
    right: 17px !important;
}
.inner p {
    font-size: 9px;
}
.curvy .left{
    width: 100%;
}
.curvy .right {
    width: 100%;
}
.item-best .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-best P {
    font-size: 11px;
}
.bestseller button .bm-prev,
.bestseller button .bm-next{
    top: 26% !important;
}
.bestseller button .bm-prev img,
.bestseller button .bm-next img{
    width: 50%;
}
button .bm-prev {
    left: -10% !important;
}
button .bm-next {
    right: -10% !important;
}
.image-hue div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-hue div img{
    width: 70%;
}
.image-get{
   display: none;
}
.owldis{
    display: block;
    padding-top: 16px
}
.ship-container {
    width: 10%;
}
.ship-inner img {
    width: 17px;
    padding: 31%;
}
.ship-container p {
    font-size: 9px;
    padding: 5px 0px;
}
.footer-outer h2 {
    font-size: 95%;
}
.footer-outer .footer-head div input{
    padding: 0px 7%;
}
::placeholder {
    color: #E1D7B1;
    opacity: 1;
    font-size: 8px;
}
.footer-inner {
    padding: 4% 3%;
}
.mobile-view{
    display: none;
}
.info.custom-menu {
    width: 100%;
    padding-bottom: 3%;
}
#follow {
    width: 100%;
}
.label{
    position: relative;
  cursor: pointer;
}
.label::before{
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: 18px;
    font-size: 40px;
    transform: translatey(-50%);
}
.active.label::before{
    content: '-';
    font-size: 40px;
}
.active{
    display: block;
}
.last{
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.last img{
    width: 20%;
    padding: 2% 0px;
}
}
@media only screen and (max-width: 530px) {
    .search img {
        top: 7px;
        right: -3px;
    }
    .footer-outer .footer-head div {
        width: 95%;
    }
    .info-dis {
        width: 100%;
    }
    .last img {
        width: 30%;
    }
    p {
        font-size: 9px;
    }
}
@media only screen and (max-width: 486px) {
    .top-search{
        top:11%
    }
}
@media only screen and (max-width: 342px) {
    .nav_bottom{
    top: 12.4%;
    }
    .top-search{
        top: 13%;
    }
}
@media only screen and (max-width:950px) {
    .nav_bottom .mobile-menu .navbar-nav li a {
        margin: auto 9px;
    font-size: 12px;
    }
}