* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: dosis;
    src: url(../Fonts/Dosis-Regular.ttf);
  }
  @font-face {
    font-family: Dream_Orphans;
    src: url(../Fonts/Dream\ Orphans.otf);
  }
/* whole body css */
body {
    background-color: #FBF7EA;
    overflow-x: hidden;
}
P,del {
    font-family: dosis;
}
/* top section css */
.top{
    width: 100vw;
}
.top .overlay{
    background-image: url(../Images/header_strip.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
.top_para {
    width: 100%;
    text-align: center;
    color: #FAF4DD;
    font-size: 16px;
    padding: 1vw 0vw;

}

/* navbar section css */
.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 2% 0px;
}

/* search css */
.search {
    position: relative;
    width: 17vw;
}

.search input {
    background-color: #F8F0D6;
    color: #000;
    border: none;
    width: 90%;
    height: 2.8vw;
    padding: 0px 10%;
    border-radius: 20px;
}

::placeholder {
    font-family: dosis;
    color: #E1D7B1;
    opacity: 1;
    font-size: 1vw;
}

.search img {
    position: absolute;
    right: 0vw;
    top: 0.6vw;
    width: 1.5vw;
}

.logo img {
    width: 100%;
    height: 70px;
}
.navbar .login{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.login img {
    height: 19px;
}

.login a {
    font-size: 15px;
    text-decoration: none;
    color: #242424;
}

.login span {
    font-size: 15px;
}

.line {
    border: 1px solid #F8F0D6;
}

/* after nav section css */

.nav_bottom button{
    border: none;
    top: 2%;
    right: 52%;
}
.toggler{
    display: none;
}
.toggler-icon {
    transform: rotate(90deg);
    display: flex;
    font-size: 4.5vw;
    background: transparent;
}
.mobile-menu {
    width: 100vw;
    text-align: center;
    margin-top: 12px;
    font-size: 1.5vw;
    margin-bottom: 1%;
}
.nav_bottom .mobile-menu .navbar-nav {
    display: flex;
    justify-content: center;
}
.nav_bottom .mobile-menu .navbar-nav li {
    list-style: none;
}
.nav_bottom .mobile-menu .navbar-nav li a{
    text-decoration: none;
    color: #211F1F;
    margin: auto 10px;
    font-family: dosis;
}
.close{
    display: none;
    top: 39%;
    right: 0px;
    position: absolute;
    font-size: 24px;
    background:transparent;
}

/* whole slider css */
.slider {
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
    margin-bottom: 4%;
}
.item{
    width: 100%;
}

.slider .owl-nav .sm-prev,
.slider .owl-nav .sm-next {
    position: absolute !important;
    border: none !important;
    background: transparent !important;
    cursor: pointer;
    top: 40% !important;
}

.owl-nav .sm-prev {
    z-index: 2 !important;
    left: 45px !important;
    transform: rotateY(180deg) !important;
}

.owl-nav .sm-next {
    z-index: 2 !important;
    right: 45px !important;
}

/* Spacial deal Css */
.special_deal {
    background-image: url(../Images/Layer\ 2\ copy\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding-top: 4%;
    padding-bottom: 4%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-family: Dream_Orphans;
    text-align: center;
    color: #242424;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 20px;
}

.special_deal .image_deal {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5vw;
    flex-wrap: wrap;
    row-gap: 1.5vw;
}

.special_deal .image_deal img {
    height: 50%;
    width: 100%;
}

/* css for pick your mood */
.pick {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pick .pick_your p {
    text-align: center;
    color: #545454;
    width: 46%;
}

.pick .pick_your h2 {
    padding: 9px 0px;
}

.pick .pick_your {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.pick .image_pick {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    column-gap: 1rem;
}
.image_pick div{
    margin-bottom: 3%;
}
.pick .image_pick div img {
    width: 100%;
    height: 350px;
}

.pick .image_pick div p {
    text-align: center;
    color: #242424;
    font-size: 22px;
    font-weight: 100;
}

/* css for new arrivals  */
.new_arrivals {
    padding-top: 52px;
    padding-bottom: 52px;
    width: 100vw;
    background-color: #FAF4DD;
    height: 100%;
}

.inner p {
    font-size: 22px;
    text-align: center;
}

.center .owl-item.center .item p {
    margin-top: 0px;
}

.inner {
    transition: 0.3s;
    transform: scale(0.8);
}

.center .owl-item.center .inner {
    transform: scale(1) !important;
}

.new_arrivals button .am-prev,
.new_arrivals button .am-next {
    position: absolute !important;
    border: none !important;
    background: transparent !important;
    cursor: pointer;
    top: 40% !important;
    width: 5vw;
}
.new_arrivals button .am-prev img,
.new_arrivals button .am-next img{
    width: 4vw;
}

button .am-prev {
    z-index: 2 !important;
    left: 40px !important;
    transform: rotateY(180deg) !important;
}

button.am-next {
    z-index: 2 !important;
    right: 40px !important;
}

/* css for curvystyle and image ovelapping */
.curvy {
    width: 100vw;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}

.curvy .left {
    width: 42%;
    margin-left: 8%;
}

.curvy .right {
    background-image: url(../Images/background_img_curvy.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
    width: 50%;
}

/* .curvy .left .curvy_head{
    width: 90%;
} */
.curvy .left .curvy_head h2,
.curvy .left .curvy_head p {
    text-align: left;
    width: 80%;
}

.curvy .curvy_photo {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.curvy .curvy_photo button {
    background-color: #C9211E;
    color: #FFFFFF;
    border: none;
    width: 40%;
    height: 10%;
    padding: 16px;
    font-family: dosis;
}

.over_img {
    position: absolute;
    left: -29%;
    bottom: -10%;
    width: 55%;
}

.curvy .left .curvy_photo .down_img {
    width: 86%;
}

.curvy .right img {
    padding-bottom: 50px;
    height: 85%;
    width: 69%;
}

.image-setter {
    position: relative;
    width: 50%;
}

/* css for style for every ocassion */
.ocassion {
    padding-top: 5%;
    padding-bottom: 4%;
    background-color: #FAF4DD;
}

.ocassion .ocassion_head p {
    text-align: center;
    color: #545454;
}

.ocassion .ocassion_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.image_ocassion div{
    margin-bottom: 3%;
}
.image_ocassion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    column-gap: 1rem;
}

.ocassion .image_ocassion div img {
    width: 100%;
    height: 350px;
}

.ocassion .image_ocassion div p {
    text-align: center;
    color: #242424;
    font-size: 14px;
    font-weight: 100;
}

/* css for beast seller section */
.bestseller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestseller .bestseller-head p {
    text-align: center;
    color: #545454;
}
.item-best P{
    font-size: 16px;
    padding-top: 9px;
}
.item-best .price p{
    font-size: 16px;
    padding: 0;
}
.item-best .price{
    padding: 9px 0px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.discount{
    color: #d4534d;
}
.bestseller .bestseller-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.bestseller button .bm-prev img,
.bestseller button .bm-next img{
    width: 70%;
}
.bestseller button .bm-prev,
.bestseller button .bm-next {
    position: absolute !important;
    border: none !important;
    background: transparent !important;
    cursor: pointer;
    top: 27% !important;
}

button .bm-prev {
    z-index: 2 !important;
    left: -4.5% !important;
    transform: rotateY(180deg) !important;
}

button .bm-next {
    z-index: 2 !important;
    right: -4.5% !important;
}

.bestseller .owl-bestseller {
    margin-top: 13px;
    width: 85%;
}

.item-best {
    margin: auto 12px;
}

/* css for hue of the season */
.image-hue {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    row-gap: 15px;
    padding-top: 2%;
}

/* css for get a first look */
.get-head {
    text-align: center;
    color: #545454;
}

.image-get {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    padding-top: 2%;
    margin: auto 2%;
}
.image-get div{
    width: 18%;
}
.image-get div img{
    width: 100%;
}
.ship{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 8% 3%;
}
 .ship-inner{
     background-color: #FAF4DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.ship-inner img{
    width: 45px;
    padding: 28%;
}
.ship-container p{
padding: 10px;
}
.footer-outer {
    background-image: url(../Images/Group\ 38.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding-top: 4%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-outer h2{
    color: #fff;
    font-size: 150%;
}
.footer-outer .footer-head div{
    width: 110%;
    padding-top: 1%;
}
.footer-outer .footer-head div button {
    background-color: #C9211E;
    color: #FFFFFF;
    border: none;
    width: 20%;
    padding: 2%;
    cursor: pointer;
}
.footer-outer .footer-head div input {
    background-color: #F8F0D6;
    color: #000;
    border: none;
    width: 58%;
    height: 30px;
    padding: 0.5% 10%;
}
.footer-inner {
    display: flex;
    background-color: #FAF4DD;
    padding: 4% 9%;
    margin-top: 3vw;
    flex-wrap: wrap;
    width: 65%;
    justify-content: space-evenly;
}
.info.custom-menu {
    width: 20%;
}
#follow{
    width:10%
}
.info .mobile-view{
    width: 171px;
}
.footer-inner .info h3{
    color: #242424;
font-weight: 400;
font-family: Dream_Orphans;
}
.footer-inner .info .mobile-view ul li{
    list-style: none;
    padding-top: 9%;
}
.footer-inner .info .mobile-view ul li a{
    text-decoration: none;
    color: #242424;
    font-family: dosis;
}
.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%;
    padding: 20px 0px;
}
.last img{
    width: 15%;
}
.last p{
    color: #9D9E9E;
    padding-right: 3.5%;
}
